/* 
    Document   : estilos
    Created on : 25/07/2012, 15:34:42
    Author     : gilcierweb
    Description:
        Purpose of the stylesheet follows.
*/
/*body{background: #4E0202;}*/
#header{background: #EC2800;height: 60px}

#footer{background: #EC2800;height: 60px;}